<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="UsageStats.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup><userSettings>
        <UsageStats.Properties.Settings>
            <setting name="ApplicationList" serializeAs="String">
                <value/>
            </setting>
            <setting name="ReportPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="MouseTrackWidth" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="MouseDownSize" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="CheckForUpdates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="InactivityThreshold" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="InterruptionThreshold" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="AlwaysOnTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScreenResolution" serializeAs="String">
                <value>96</value>
            </setting>
            <setting name="DisplayDate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ReportInterval" serializeAs="String">
                <value>Daily</value>
            </setting>
            <setting name="PushUrl" serializeAs="String">
                <value/>
            </setting>
        </UsageStats.Properties.Settings>
    </userSettings>
</configuration>
